*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#0b2d73,#1250c4,#1f6fff);

color:white;

height:100vh;

overflow-y:auto;

}

.container{

width:92%;

max-width:1300px;

margin:35px auto;

padding-bottom:40px;

}

h1{

text-align:center;

font-size:42px;

margin-bottom:35px;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:28px;

border-radius:20px;

margin-bottom:25px;

border-left:6px solid gold;

box-shadow:0 10px 30px rgba(0,0,0,.25);

transition:.35s;

}

.card:hover{

transform:translateY(-5px);

}

.card h2{

color:#FFD700;

margin-bottom:15px;

font-size:33px;

}

.card p{

font-size:18px;

margin:10px 0;

line-height:1.7;

}

.bottom-buttons{

display:flex;

justify-content:center;

gap:25px;

margin-top:40px;

flex-wrap:wrap;

}

.back-btn,
.dashboard-btn{

padding:15px 38px;

border-radius:50px;

text-decoration:none;

font-size:18px;

font-weight:bold;

color:white;

transition:.35s;

}

.back-btn{

background:linear-gradient(90deg,#ff9800,#ff5722);

}

.dashboard-btn{

background:linear-gradient(90deg,#007BFF,#00c6ff);

}

.back-btn:hover,
.dashboard-btn:hover{

transform:translateY(-5px);

box-shadow:0 12px 25px rgba(0,0,0,.35);

}

@media(max-width:768px){

.card{

padding:18px;

}

.card h2{

font-size:28px;

}

.bottom-buttons{

flex-direction:column;

align-items:center;

}

}