<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>CampusPulse | Attendance</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/admin.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="main-content">

    <h1 style="text-align:center; margin-bottom:30px;">

        <i class="fa-solid fa-user-check"></i>

        Attendance Management

    </h1>

    <table>

        <tr>

            <th>Student</th>

            <th>Roll No</th>

            <th>Event</th>

            <th>Status</th>

            <th>Save</th>

            <th>Certificate</th>

        </tr>

        {% for row in attendance %}

        <tr>

            <form action="/mark_attendance" method="POST">

                <td>

                    {{ row.full_name }}

                </td>

                <td>

                    {{ row.roll_no }}

                </td>

                <td>

                    {{ row.title }}

                </td>

                <td>

                    <input
                        type="hidden"
                        name="student_id"
                        value="{{ row.student_id }}">

                    <input
                        type="hidden"
                        name="event_id"
                        value="{{ row.event_id }}">

                    <select name="status">

                        <option value="Present">

                            Present

                        </option>

                        <option value="Absent">

                            Absent

                        </option>

                    </select>

                </td>

                <td>

                    <button type="submit" class="edit-btn">

                        <i class="fa-solid fa-floppy-disk"></i>

                        Save

                    </button>

                </td>

            </form>

           <td>
    {% if row.status == 'Present' %}

        <a href="/generate_certificate/{{ row.student_id }}/{{ row.event_id }}"
           class="dashboard-btn">

            Generate

        </a>

    {% else %}

        <span style="color:red; font-weight:bold;">
            Not Eligible
        </span>

    {% endif %}
</td>

        </tr>

        {% endfor %}

    </table>

    <br><br>

    <div class="button-container">

        <a href="/admin_dashboard"
           class="dashboard-btn">

            <i class="fa-solid fa-arrow-left"></i>

            Back Dashboard

        </a>

    </div>

</div>

</body>

</html>